@charset "UTF-8";
html body p, html body span {
  color: #e60028;
  font-weight: bold; }

blockquote {
  font-family: 'Helvetica Neue';
  position: relative;
  background-color: #f2f2f2;
  font-size: 19px;
  width: 80%;
  margin: 42px auto !important;
  padding: 42px;
  border-radius: 10px;
  font-weight: bold; }
  blockquote p {
    line-height: 1.2em !important;
    margin-bottom: 20px !important; }
  blockquote::before, blockquote::after {
    font-size: 200px;
    line-height: 40px;
    font-weight: bold;
    position: absolute;
    opacity: 0.3; }
  blockquote::before {
    content: "“";
    top: 22px;
    left: -45px; }
  blockquote::after {
    content: "”";
    bottom: -45px;
    right: -47px; }
  blockquote cite {
    font-size: 18px; }
  blockquote.definition {
    background-color: #fecdab;
    padding: 40px 40px 20px; }
    blockquote.definition::before {
      font-size: 100px;
      line-height: 40px;
      font-weight: bold;
      position: absolute;
      opacity: 1;
      color: #fc9147;
      content: "?";
      top: -8px;
      left: -25px; }
    blockquote.definition::after {
      content: ""; }
  blockquote.formula {
    background-color: #d5ebb1;
    padding: 20px 40px; }
    blockquote.formula::before {
      font-size: 100px;
      line-height: 40px;
      font-weight: bold;
      position: absolute;
      opacity: 1;
      color: #AAD75F;
      content: "Σ";
      top: -8px;
      left: -25px; }
    blockquote.formula::after {
      content: ""; }
    blockquote.formula > * {
      text-align: center; }
