@import 'vars';

@mixin blockquote {
  font-family: 'Helvetica Neue';
  position: relative;
  background-color: $grey-5;
  font-size: 19px;
  width: 80%;
  margin: 42px auto!important;
  padding: 42px;
  border-radius: 10px;
  font-weight: bold;
  p {
      line-height: 1.2em!important;
      margin-bottom: 20px!important;
  }
  &::before,
  &::after {
    font-size: 200px;
    line-height: 40px;
    font-weight: bold;
    position: absolute;
    opacity: 0.3;
  }
  &::before {
    content: "“";
    top: 22px;
    left: -45px;
   }
  &::after {
    content: "”";
    bottom:-45px;
    right:-47px;
  }
  cite {
    font-size: 18px;
  }
}


@mixin definition {
  background-color: $orange-lighter;
  padding: 40px 40px 20px;
  &::before {
    font-size: 100px;
    line-height: 40px;
    font-weight: bold;
    position: absolute;
    opacity: 1;
    color: $orange;
    content: "?";
    top: -8px;
    left: -25px;
  }
  &::after {
    content: "";
  }
}

@mixin formula {
  background-color: $green-lighter;
  padding: 20px 40px;
  &::before {
    font-size: 100px;
    line-height: 40px;
    font-weight: bold;
    position: absolute;
    opacity: 1;
    color: $green;
    content: "Σ";
    top: -8px;
    left: -25px;
  }
  &::after {
    content: "";
  }
  > * {
    text-align: center;
  }
}
