@import 'vars';
@import 'blockquote';

html {
  body {
    p, span {
      color: $red;
      font-weight: bold;
    }
  }
}

blockquote {
  @include blockquote;
  &.definition {
    @include definition;
  }
  &.formula {
    @include formula;
  }
}
