$red: #e60028;
$navy: #000054;
$black: #000000;
$orange: #fc9147;
$orange-lighter: lighten($orange, 20%);
$yellow: #fac800;
$lemon: #eedc00;
$green: #AAD75F;
$green-lighter: lighten($green, 20%);
$aqua: #00DCB4;
$teal: #7ae1aa;
$blue: #0078FF;
$azure: #00aaff;
$arctic: #50D2ff;
$purple: #AA0082;
$lavender: #C864c8;
$pink: #FF8199;
$white: #fff;

$grey-5: darken( $white, 5% );
$grey-10: darken( $white, 10% );
$grey-20: darken( $white, 20% );
$grey-35: darken( $white, 35% );
$grey-70: darken( $white, 70% );
